--extra-index-url https://download.pytorch.org/whl/cu121

Flask==3.0.3
opencv-python==4.13.0.92
torch==2.5.1+cu121
torchvision==0.20.1+cu121
numpy==1.26.4
mediapipe==0.10.14
tensorflow==2.19.1
pyserial==3.5
sounddevice==0.5.3
hsemotion==0.3.0
requests==2.32.5